@model IEnumerable< ExtractColors2.Models.Colors>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>


@if (ViewBag.Logo != null)
{
    <div class="alert" style="margin-top:20px">
        <img src="@String.Format("data:image/png;base64,{0}",Convert.ToBase64String(ViewBag.Logo))" />

    </div>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Name </th>
            <th>HSV S </th>
            <th>RGB B </th>
            <th>RGB R</th>
            <th>RGB G</th>>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.HSVS</td>
                <td>@d.RGBB</td>
                <td>@d.RGBR</td>
                <td>@d.RGBG</td>

            </tr>
        }
    </table>
}
